/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h2 {
	font-family: Verdana;
	margin: 0pt;
	text-align: right;
	background-color: #C0C0C0;
	color: #FFFFFF;
	padding-bottom: 3pt;
	padding-right: 3pt;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #98bf21;
    width: 100%;

}

li {
    display: inline;
    margin-left: 5pt;
    background-color: #98bf21;
	
}

a {
	color: #FFFFFF;
	font-family: Verdana; 
	font-size: 15pt;
	text-decoration:none;
}

body{
	font-family: Trebuchet; 
	font-size: 13pt;
	color: #000000;

}